<div class="card" data-background-color="orange" id="contacto">
    <div class="card-body">
        <h3 class="card-title">Contáctame!</h3>
        <form action="">
            <div class="form-group">
                <label for="nombre">Nombre y apellido</label>
                <input type="text" class="form-control" placeholder="Nombre y apellido" id="nombre">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="email" id="email">
            </div>
            <div class="form-group">
                <label for="mensaje">Su mensaje</label>
                <textarea name="" id="mensaje" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <button class="btn btn-neutral btn-round btn-lg text-center">Enviar!</button>
        </form>
    </div>
</div>