<footer>
    <script type="text/javascript" src="{{ .Site.BaseURL }}js/core/jquery.3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}js/core/popper.min.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}js/core/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}js/core/popper.min.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}js/plugins/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}js/plugins/bootstrap-switch.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}js/plugins/jquery.sharrre.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}js/plugins/nouislider.min.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}js/now-ui-kit.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}js/smooth-scroll.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}js/init.js"></script>
</footer>