{{ partial "header.html" . }}

<body class="sidebar-collapse">

    <!-- Nav -->
    <div class="container sticky-top">
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="container collapse navbar-collapse" id="navigation">
                <div class="justify-content-start">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#me">Me!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#experiencia">Experiencia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-placement="bottom" href="#skills">
                                Skills
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-placement="bottom" href="#contacto">Contáctame!
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" data-placement="bottom" href='{{ $.Site.BaseURL }}/blog'>Blog
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-placement="bottom" href="#arriba">Top!
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- Titulo -->
    <div class="container">
        <div class="card" id="arriba">
            <div class="card-body">
                <div class="photo-container">
                    <img src="{{ $.Site.BaseURL }}img/niklas.png" alt="" class="mx-auto d-block">
                </div>
                <div class="text-center">
                    <h1 class="card-title">{{ .Title }}</h1>
                    <p class="category">{{ $.Site.Params.profesion }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Me!</h4>
                        <div class="list-group">
                            <a href="" data-toggle="collapse" data-target="#programador" class="list-group-item list-group-item-action flex-column align-items-start"
                                id="listElem">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Programador</h5>
                                    <i class="fas fa-headphones"></i>
                                </div>
                            </a>
                            <div class="collapse" id="programador">
                                <div class="card card-body">
                                    <p>
                                        <i class="fas fa-angle-right"></i> Estudio Analista Programador en Duoc (2017-primer semestre 2019)</p>
                                    <p>
                                        <i class="fas fa-angle-right"></i> Mis lenguajes favoritos son
                                        <a href="https://es.wikipedia.org/wiki/JavaScript">Javascript</a>,
                                        <a href="https://golang.org/">Go</a>,
                                        <a href="http://php.net/">PHP</a> y
                                        <a href="https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/">C#</a>
                                    </p>
                                    <p>
                                        <i class="fas fa-angle-right"></i> I
                                        <i class="fas fa-heart"></i>
                                        <a href="https://es.wikipedia.org/wiki/Unix">Unix</a>/
                                        <a href="https://es.wikipedia.org/wiki/GNU/Linux">Linux</a>
                                    </p>
                                    <p>
                                        <i class="fas fa-angle-right"></i> Bases de datos:
                                        <i class="icon-mysql" style="font-size: 4em; color:blue;" data-toggle="tooltip" data-placement="top" title="MySQL"></i>
                                        <i class="icon-mongodb" style="font-size: 4em; color:green;" data-toggle="tooltip" data-placement="top" title="MongoDB"></i>
                                        <i class="icon-oracle-alt" style="font-size: 4em; color:red;" data-toggle="tooltip" data-placement="top" title="OracleDB"></i>
                                    </p>
                                    <p>
                                        <i class="fas fa-angle-right"></i> Tecnologias que uso frecuentemente:
                                        <i class="icon-bootstrap" style="font-size: 4em; color: #563d7c;" data-toggle="tooltip" data-placement="top" title="Bootstrap 4"></i>
                                        <i class="icon-reactjs" style="font-size: 4em; color: #005588;" data-toggle="tooltip" data-placement="top" title="React"></i>
                                        <i class="icon-go" style="font-size: 4em;" data-toggle="tooltip" data-placement="top" title="Golang"></i>
                                        <i class="icon-nodejs" style="font-size: 4em;" data-toggle="tooltip" data-placement="top" title="NodeJS"></i>
                                    </p>
                                </div>
                            </div>
                            <a href="" data-toggle="collapse" data-target="#historiador" class="list-group-item list-group-item-action flex-column align-items-start"
                                id="listElem">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Historiador</h5>
                                    <i class="fab fa-earlybirds"></i>
                                </div>
                            </a>
                            <div class="collapse" id="historiador">
                                <div class="card card-body">
                                    <p>
                                        <i class="fas fa-angle-right"></i> Me gusta la historia social y económica. Fundamentalmente autores como Julio
                                        Pinto, Gabriel Salazar, Luis Ortega, en lo que respecta a historiagrafía chilena.
                                        Immanuel Wallerstein, Jürgen Osterhammel, David Landes y Peter Lindert en historiografía
                                        internacional.</p>
                                    <p>
                                        <i class="fas fa-angle-right"></i> Para entender el mundo actual hay que entender la teoría de la economía mundo
                                        capitalista.</p>
                                    <p>
                                        <i class="fas fa-angle-right"></i>
                                        <a href="https://www.amazon.es/Unbound-Prometheus-Technological-Industrial-Development/dp/052153402X">The Unbound Prometheus: Technological Change and Industrial Development in Western
                                            Europe from 1750 to the Present</a> es uno de los mejores libros en tratar el
                                        proceso de cambio tecnológico producto de la revolución industrial y los reposicionamientos
                                        geopolíticos a raíz de éste fenómeno.</p>
                                    <p>
                                        <i class="fas fa-angle-right"></i> Mi período histórico favorito es la Modernidad.</p>
                                    <p>
                                        <i class="fas fa-angle-right"></i> Marx siempre tuvo razón en su análisis histórico!</p>
                                </div>
                            </div>
                            <a href="" data-toggle="collapse" data-target="#ciclista" class="list-group-item list-group-item-action flex-column align-items-start"
                                id="listElem">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Ciclista</h5>
                                    <i class="fas fa-bicycle"></i>
                                </div>
                            </a>
                            <div class="collapse" id="ciclista">
                                <div class="card card-body">
                                    <p>
                                        <i class="fas fa-angle-right"></i> Disfruto del ciclismo de ruta como deporte. Mi ciclista favorito actualmente
                                        es Nairo Quintana</p>
                                    <p>
                                        <i class="fas fa-angle-right"></i> Trato de moverme por Santiago en bicicleta. No tiene mucho sentido la lógica
                                        una persona = un auto. Es ecosistemicamente intolerable</p>
                                    <p>
                                        <i class="fas fa-angle-right"></i> El carbono es muy suave para andar por asfalto</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col">
                <!-- Acerca -->

                <div class="container" id="me">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <p class="lead text-justify">
                                    {{ $.Site.Params.about }}
                                </p>
                                <p class="lead text-justify">
                                    {{ safeHTML $.Site.Data.acerca_de.acerca_de.sobre_mi.headline }}
                                </p>
                            </div>
                            <div class="">
                                    <div class="card-body">
                                        <!-- <h4 class="card-title">Me!</h4> -->
                                        <div class="list-group">
                                            <a href="" data-toggle="collapse" data-target="#programador" class="list-group-item list-group-item-action flex-column align-items-start"
                                                id="listElem">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">Programador</h5>
                                                    <i class="fas fa-headphones"></i>
                                                </div>
                                            </a>
                                            <div class="collapse" id="programador">
                                                <div class="card card-body">
                                                    <p>
                                                        <i class="fas fa-angle-right"></i> Estudio Analista Programador en Duoc (2017-primer semestre 2019)</p>
                                                    <p>
                                                        <i class="fas fa-angle-right"></i> Mis lenguajes favoritos son
                                                        <a href="https://es.wikipedia.org/wiki/JavaScript">Javascript</a>,
                                                        <a href="https://golang.org/">Go</a>,
                                                        <a href="https://es.wikipedia.org/wiki/Common_Lisp">Common Lisp</a> y
                                                        <a href="https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/">C#</a>
                                                    </p>
                                                    <p>
                                                        <i class="fas fa-angle-right"></i> I
                                                        <i class="fas fa-heart"></i>
                                                        <a href="https://es.wikipedia.org/wiki/Unix">Unix</a>/
                                                        <a href="https://es.wikipedia.org/wiki/GNU/Linux">Linux</a>
                                                    </p>
                                                    <p>
                                                        <i class="fas fa-angle-right"></i> Bases de datos:
                                                        <i class="icon-mysql" style="font-size: 4em; color:blue;" data-toggle="tooltip" data-placement="top" title="MySQL"></i>
                                                        <i class="icon-mongodb" style="font-size: 4em; color:green;" data-toggle="tooltip" data-placement="top" title="MongoDB"></i>
                                                        <i class="icon-oracle-alt" style="font-size: 4em; color:red;" data-toggle="tooltip" data-placement="top" title="OracleDB"></i>
                                                    </p>
                                                    <p>
                                                        <i class="fas fa-angle-right"></i> Tecnologias que uso frecuentemente:
                                                        <i class="icon-bootstrap" style="font-size: 4em; color: #563d7c;" data-toggle="tooltip" data-placement="top" title="Bootstrap 4"></i>
                                                        <i class="icon-reactjs" style="font-size: 4em; color: #005588;" data-toggle="tooltip" data-placement="top" title="React"></i>
                                                        <i class="icon-go" style="font-size: 4em;" data-toggle="tooltip" data-placement="top" title="Golang"></i>
                                                        <i class="icon-nodejs" style="font-size: 4em;" data-toggle="tooltip" data-placement="top" title="NodeJS"></i>
                                                    </p>
                                                </div>
                                            </div>
                                            <a href="" data-toggle="collapse" data-target="#historiador" class="list-group-item list-group-item-action flex-column align-items-start"
                                                id="listElem">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">Historiador</h5>
                                                    <i class="fab fa-earlybirds"></i>
                                                </div>
                                            </a>
                                            <div class="collapse" id="historiador">
                                                <div class="card card-body">
                                                    <p>
                                                        <i class="fas fa-angle-right"></i> Me gusta la historia social y económica. Fundamentalmente autores como Julio
                                                        Pinto, Gabriel Salazar, Luis Ortega, en lo que respecta a historiagrafía chilena.
                                                        Immanuel Wallerstein, Jürgen Osterhammel, David Landes y Peter Lindert en historiografía
                                                        internacional.</p>
                                                    <p>
                                                        <i class="fas fa-angle-right"></i> Para entender el mundo actual hay que entender la teoría de la economía mundo
                                                        capitalista.</p>
                                                    <p>
                                                        <i class="fas fa-angle-right"></i>
                                                        <a href="https://www.amazon.es/Unbound-Prometheus-Technological-Industrial-Development/dp/052153402X">The Unbound Prometheus: Technological Change and Industrial Development in Western
                                                            Europe from 1750 to the Present</a> es uno de los mejores libros en tratar el
                                                        proceso de cambio tecnológico producto de la revolución industrial y los reposicionamientos
                                                        geopolíticos a raíz de éste fenómeno.</p>
                                                    <p>
                                                        <i class="fas fa-angle-right"></i> Mi período histórico favorito es la Modernidad.</p>
                                                    <p>
                                                        <i class="fas fa-angle-right"></i> Marx siempre tuvo razón en su análisis histórico!</p>
                                                </div>
                                            </div>
                                            <a href="" data-toggle="collapse" data-target="#ciclista" class="list-group-item list-group-item-action flex-column align-items-start"
                                                id="listElem">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">Ciclista</h5>
                                                    <i class="fas fa-bicycle"></i>
                                                </div>
                                            </a>
                                            <div class="collapse" id="ciclista">
                                                <div class="card card-body">
                                                    <p>
                                                        <i class="fas fa-angle-right"></i> Disfruto del ciclismo de ruta como deporte. Mi ciclista favorito actualmente
                                                        es Nairo Quintana</p>
                                                    <p>
                                                        <i class="fas fa-angle-right"></i> Trato de moverme por Santiago en bicicleta. No tiene mucho sentido la lógica
                                                        una persona = un auto. Es ecosistemicamente intolerable</p>
                                                    <p>
                                                        <i class="fas fa-angle-right"></i> El carbono es muy suave para andar por asfalto</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

                <!-- Experiencia -->
                <div class="container" id="experiencia">
                    <div class="card">
                        <div class="card-body">
                            <!-- Experiencia -->
                            <div>
                                <h2 class="tipography-line">Experiencia</h2>
                                {{ range .Site.Data.acerca_de.acerca_de.experiencia }}
                                <h5>{{ .trabajo.puesto }}
                                    <span class="small tag float-right">{{ .trabajo.tiempo }}</span>
                                </h5>
                                <h6>{{ .trabajo.ubicacion }}</h6>
                                <p class="text-justify">
                                    {{ .trabajo.que_hice }}
                                </p>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="container" id="skills">
                    <div class="card">
                        <div class="card-body">
                            <!-- Skills -->
                            <div>
                                <h2 class="tipography-line">Skills & Proficiency</h2>
                                <div class="progress-container progress-primary">
                                    <span class="progress-badge">HTML5 CSS3 Javascript (ES5/ES6)</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 80%;">
                                            <span class="progress-value">85%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="progress-container progress-info">
                                <span class="progress-badge">PHP</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 75%;">
                                        <span class="progress-value">75%</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="progress-container progress-success">
                                <span class="progress-badge">React</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 70%;">
                                        <span class="progress-value">70%</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="progress-container progress-warning">
                                <span class="progress-badge">Go</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 45%;">
                                        <span class="progress-value">45%</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="progress-container progress-danger">
                                <span class="progress-badge">Git & Github</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 80%;">
                                        <span class="progress-value">80%</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="progress-container progress-info">
                                <span class="progress-badge">Node & Express</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 60%;">
                                        <span class="progress-value">60%</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="container text-center">
                                    <h3>Uso de tecnologías web modernas!</h3>
                                    <i class="fab fa-html5 fa-7x"></i>
                                    <i class="fab fa-css3-alt fa-7x"></i>
                                    <i class="fab fa-js fa-7x"></i>
                                    <i class="fab fa-php fa-7x"></i>
                                    <i class="fab fa-laravel fa-7x"></i>
                                    <i class="fab fa-react fa-7x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section" data-background-color="black">
        <div class="container">
            {{ partial "contacto.html" . }}
        </div>
    </div>
    </div>

</body>

{{ partial "footer.html" . }}